.body {
    background-color: #FFFFFF;
    text-align: center;
}
.baslik{
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search{
   text-align: center;
}
.container { 
    border: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.td-left {
    background-color: #7EE5DA;
    width: 37%;

}
.td-middle {
    background-color: #70CCC2;
    font-size: medium;
}

.td-right {
    background-color: #62B3AA;
    font-size: medium;
}
.copy {
    font-size: small;
}
.bgee{
 background: #EEEEEE;

}